/**
Control the style on input-field component.
In most scenarios, you should only change the values of the
CSS variables.
 */

.input-field {
  --label-width: 10em;
  --input-width: calc(100% - var(--label-width) - 4em);
  --rule-padding-left: calc(var(--label-width) + 1em);
  --radio-item-width: 8em;

  --label-color: darkgreen;
  --label-font-weight: bold;
  --label-font-size: 1em;

  --sublabel-color: darkgreen;
  --sublabel-font-weight: lighter;
  --sublabel-font-size: 0.9em;

  --required-marker: " *";
  --required-marker-color: green;

  --tooltip-icon-color: white;
  --tooltip-icon-background: green;
  --tooltip-color: darkgreen;
  --tooltip-background: HoneyDew;

  --input-color: black;
  --input-background-color: white;
  --input-background-bad: linear-gradient(to right, LavenderBlush, white);
  --input-background-focus: linear-gradient(to right, HoneyDew, white);
  --input-background-focus-bad: linear-gradient(to right, LavenderBlush, HoneyDew, white);
  --input-border-color: Gainsboro;
  --input-border-color-bad: red;
  --input-border-focus: green;

  --rule-font-size: 0.9em;
  --rule-color: green;
  --rule-color-bad: red;
}

.input-field label.label {
  display: inline-block;
  width: var(--label-width);
  text-align: right;
  margin: 0.4em 0.2em 0.1em 0.4em;
  padding-top: 0.2em;
  vertical-align: top;

  color: var(--label-color);
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
}

.input-field label.label .required:after {
  content: var(--required-marker);
  color: var(--required-marker-color);
}

.input-field .sublabel {
  font-size: var(--sublabel-font-size);
  font-weight: var(--sublabel-font-weight);
  color: var(--sublabel-color);
}

.input-field input.input {
  width: var(--input-width);
  margin: 0.4em 0.4em 0.1em 0.2em;
  padding: 1em 0.7em;

  color: var(--input-color);
  background-color: var(--input-background-color, white);
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  height: 2em;
  font-size: 1em;
}

.input-field input.input:focus {
  background-image: var(--input-background-focus);
  outline: none;
  border-color: var(--input-border-focus);
}

.input-field input.bad {
  border-color: var(--input-border-color-bad, red);
  background-image: var(--input-background-bad);
}


.input-field input.bad:focus {
  border-color: var(--input-border-color-bad);
  background-image: var(--input-background-focus-bad);
}

.input-field footer {
  padding-left: var(--rule-padding-left);
  margin-bottom: 1em;
  font-size: var(--rule-font-size);
}

.input-field footer ul {
  margin: 0.5em 0;
}

.input-field footer ul.rules li {
  color: var(--rule-color);
}

.input-field footer ul.rules li.bad {
  color: var(--rule-color-bad);
}

@media screen and (max-width: 600px) {
  .input-field label.label {
    display: block;
    text-align: left;
    margin-bottom: 0.1em;
    margin-left: 1.2em;
  }

  .input-field input.input {
    margin-top: 0.1em;
    width: 80%;
    margin-left: 1em;
  }

  .input-field footer {
    padding-left: 1em;
  }

  .input-field footer ul {
    padding-left: 2em;
  }
}

.input-field .circle {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.1em 0.3em;
  margin: 0 0.1em 0 0.06em;

  color: var(--tooltip-icon-color, white);
  background: var(--tooltip-icon-background, green);
  text-align: center;
  font-size: small;
  font-family: "Courier New", monospace;
  transform: translateY(-0.2em);
}

.input-field .tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.input-field .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;

  background-color: var(--tooltip-background, dimgray);
  color: var(--tooltip-color, white);
  border-radius: 4px;

  text-align: center;
  width: 15em;
  bottom: 125%;
  left: 50%;
  padding: 0.7em;
  margin-left: -6em;
  font-weight: normal;
}


.input-field .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  border-width: 0.4em;
  border-style: solid;
  border-color: var(--tooltip-background, dimgray) transparent transparent transparent;
}

.input-field .tooltip .show {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .input-field .tooltip-text {
    margin-left: -4em;
  }

  .input-field .tooltip-text::after {
    left: 15%;
  }
}

.input-field .radio-buttons {
  display: inline-block;
  margin-top: 0.4em;
  width: var(--input-width);
}

.input-field .radio {
  display: inline-block;
  width: var(--radio-item-width, 10em);
}


.input-field .radio .radio-label {
  color: var(--label-color);
}

.input-field .checkbox-buttons {
  display: inline-block;
  margin-top: 0.4em;
  width: var(--input-width);
}

.input-field .checkbox {
  display: inline-block;
  width: var(--radio-item-width, 10em);
}

.input-field .checkbox .checkbox-label {
  color: var(--label-color);
}

@media screen and (max-width: 600px) {
  .input-field .radio, .input-field .checkbox {
    margin-left: 1em;
  }
}

.input-field select {
  width: var(--input-width);
  margin: 0.4em 0.4em 0.1em 0.2em;
  padding: 0.45em 0.7em;
  color: var(--input-color);
  background-color: var(--input-background-color, white);
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  font-size: 1em;
}

.input-field select:focus {
  background-image: var(--input-background-focus);
  outline: none;
  border-color: var(--input-border-focus);
}

@media screen and (max-width: 600px) {
  .input-field select {
    margin-top: 0.1em;
    width: 80%;
    margin-left: 1em;
  }
}
