/**
Control the style on input-field component.
In most scenarios, you should only change the values of the
CSS variables.
 */

.input-field {
  --label-width: 10em;
  --input-width: calc(100% - var(--label-width) - 4em);
  --rule-padding-left: calc(var(--label-width) + 1em);

  --label-color: darkgreen;
  --label-font-weight: bold;
  --label-font-size: 1em;

  --sublabel-color: darkgreen;
  --sublabel-font-weight: lighter;
  --sublabel-font-size: 0.9em;

  --required-marker: " *";
  --required-marker-color: green;

  --input-color: black;
  --input-background-color: white;
  --input-background-bad: linear-gradient(to right, LavenderBlush, white);
  --input-background-focus: linear-gradient(to right, HoneyDew, white);
  --input-background-focus-bad: linear-gradient(to right, LavenderBlush, HoneyDew, white);
  --input-border-color: Gainsboro;
  --input-border-color-bad: red;
  --input-border-focus: green;

  --rule-font-size: 0.9em;
  --rule-color: green;
  --rule-color-bad: red;
}

.input-field label {
  display: inline-block;
  width: var(--label-width);
  text-align: right;
  margin: 0.4em 0.2em 0.1em 0.4em;
  vertical-align: bottom;

  color: var(--label-color);
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
}

.input-field label .required:after {
  content: var(--required-marker);
  color: var(--required-marker-color);
}

.input-field .sublabel {
  font-size: var(--sublabel-font-size);
  font-weight: var(--sublabel-font-weight);
  color: var(--sublabel-color);
}

.input-field input {
  width: var(--input-width);
  margin: 0.4em 0.4em 0.1em 0.2em;
  padding: 1em 0.7em;

  color: var(--input-color);
  background-color: var(--input-background-color, white);
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  height: 2em;
  font-size: 1em;
}

.input-field input:focus {
  background-image: var(--input-background-focus);
  outline: none;
  border-color: var(--input-border-focus);
}

.input-field input.bad {
  border-color: var(--input-border-color-bad, red);
  background-image: var(--input-background-bad);
}


.input-field input.bad:focus {
  border-color: var(--input-border-color-bad);
  background-image: var(--input-background-focus-bad);
}

.input-field footer {
  padding-left: var(--rule-padding-left);
  margin-bottom: 1em;
  font-size: var(--rule-font-size);
}

.input-field footer ul {
  margin: 0.5em 0;
}

.input-field footer ul.rules li {
  color: var(--rule-color);
}

.input-field footer ul.rules li.bad {
  color: var(--rule-color-bad);
}

@media screen and (max-width: 600px) {
  .input-field label {
    display: block;
    text-align: left;
    margin-bottom: 0.1em;
    margin-left: 1.2em;
  }

  .input-field input {
    margin-top: 0.1em;
    width: 80%;
    margin-left: 1em;
  }

  .input-field footer {
    padding-left: 1em;
  }

  .input-field footer ul {
    padding-left: 2em;
  }
}